# K Means practice

Gotta apply k means on the dataset and find out clusters of people depending on various features.

In [10]:
import numpy as np 
import pandas as pd 

# Importing data
raw_train_df = pd.read_csv("data/train.csv")
raw_test_df = pd.read_csv("data/test.csv")

print(raw_train_df.columns)

Index(['ID', 'Gender', 'Ever_Married', 'Age', 'Graduated', 'Profession',
       'Work_Experience', 'Spending_Score', 'Family_Size', 'Var_1',
       'Segmentation'],
      dtype='object')

In [11]:
for column in raw_train_df.columns:
    print(f"{column}: {pd.unique(raw_train_df[column])}")

ID: [462809 462643 466315 ... 465406 467299 461879]
Gender: ['Male' 'Female']
Ever_Married: ['No' 'Yes' nan]
Age: [22 38 67 40 56 32 33 61 55 26 19 70 58 41 31 79 49 18 36 35 45 42 83 27
 28 47 29 57 76 25 72 48 74 59 39 51 30 63 52 60 68 86 50 43 80 37 46 69
 78 71 82 23 20 85 21 53 62 75 65 89 66 73 77 87 84 81 88]
Graduated: ['No' 'Yes' nan]
Profession: ['Healthcare' 'Engineer' 'Lawyer' 'Entertainment' 'Artist' 'Executive'
 'Doctor' 'Homemaker' 'Marketing' nan]
Work_Experience: [ 1. nan  0.  4.  9. 12.  3. 13.  5.  8. 14.  7.  2.  6. 10. 11.]
Spending_Score: ['Low' 'Average' 'High']
Family_Size: [ 4.  3.  1.  2.  6. nan  5.  8.  7.  9.]
Var_1: ['Cat_4' 'Cat_6' 'Cat_7' 'Cat_3' 'Cat_1' 'Cat_2' nan 'Cat_5']
Segmentation: ['D' 'A' 'B' 'C']

In [12]:
# eliminating all rows with atleast one "nan" entry
raw_train_df = raw_train_df.dropna()
raw_test_df = raw_test_df.dropna()

for column in raw_train_df.columns:
    print(f"{column}: {pd.unique(raw_train_df[column])}")

ID: [462809 466315 461735 ... 465406 467299 461879]
Gender: ['Male' 'Female']
Ever_Married: ['No' 'Yes']
Age: [22 67 56 32 33 61 55 26 19 58 41 31 79 49 18 36 35 45 42 83 27 28 47 40
 57 76 25 48 74 59 51 30 63 52 39 38 60 68 86 43 80 37 46 72 69 50 29 71
 78 82 70 23 20 21 53 75 65 89 62 66 73 77 87 84 88 85 81]
Graduated: ['No' 'Yes']
Profession: ['Healthcare' 'Engineer' 'Lawyer' 'Artist' 'Doctor' 'Homemaker'
 'Entertainment' 'Marketing' 'Executive']
Work_Experience: [ 1.  0.  4.  9. 12.  3. 13.  5.  8. 14.  7.  2.  6. 10. 11.]
Spending_Score: ['Low' 'High' 'Average']
Family_Size: [4. 1. 2. 3. 5. 6. 8. 7. 9.]
Var_1: ['Cat_4' 'Cat_6' 'Cat_7' 'Cat_3' 'Cat_1' 'Cat_2' 'Cat_5']
Segmentation: ['D' 'B' 'C' 'A']